@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
}
a, a:visited, a:link, a:hover{
	color : black;
	text-decoration: none;
}
a:active {
	color : #00C471;
}
.containerList {
	float:left;
	/*width: 1000px;*/
	width:99%;
	position:relative;
	top : 20px;
	height: 690px;
	border: 1px solid #ddd;
	padding: 10px;
	border-radius: 4px;
	text-align: center;
}

#listMenu{
	overflow:auto;
}
#listMenu>li{
	list-style-type: none;
	float:left;
	height: 50px;
	line-height: 50px;
	width:10%;
	border-bottom:solid 3px gray;
	text-align: center;/*left*/
	background-color: rgba(255, 255, 255, 0.5);
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding:0px 5px;
}
#listMenu>#listMenuFE>li{
	list-style-type: none;
	float:left;
	height: 50px;
	line-height: 50px;
	width:10%;
	border-bottom:solid 3px gray;
	text-align: center;/*left*/
	background-color:white;
	font-weight:normal;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding:0px 5px;
}

#boardInsert, .boardList{
	background: #fff;
	border: 1px solid #000;
	border-radius: 10px;
	width: 90px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	float: right;
	margin-left:10px;
	margin-bottom: 20px;
}
#boardDelete {
	background: red;
	border: 1px solid #000;
	border-radius: 10px;
	width: 90px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	float: right;
	margin-left:10px;
	margin-bottom: 20px;
}
#boardInsert a, .boardList a{
	color: #000;
	font-weight: 700;
}
#boardDelete a{
	color: white;
	font-weight: 700;
}

/*페이징*/
.paging{

	text-align:center;
	height: 30px;
	overflow: auto;
}
.paging>li{
	width:30px;
	display:inline-block;
}
.paging #prevBtn, .paging #nextBtn {
	visibility: hidden;
}
.paging #pagingNumberStyle {
	background-color:white;font-weight:bold;font-size: 1.1em;
}
/*검색*/
#searchFrm{
	padding:0px 5px 10px 0px;
	text-align:left;
}
#searchRegion{
	padding:0px 5px 10px 0px;
	text-align:left;
}
#replyLine>#replyContent {
	float:left;
	width:90%;
	height:50px;
}
#replyLine>#replyButton {
	float: left;
	width:10%;
	height:50px;
	background: #00C471;;
	border: 1px solid #000;
	border-radius: 10px;
	color:white;
	font-weight: 700;
}