<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campus.myapp.admin.AdminDAO">

    <select id="totalRecordBoard" resultType="int">
        select count(id) cnt from user
        <if test="searchWord != null">
            where 			${searchKey}
            like 			'%${searchWord}%'
        </if>
    </select>

    <select id="allList" resultType="com.Modoomoyeo.momo.board.BoardVO">
        SELECT no, nickname, title, time from board
        <if test="searchWord != null">
            where 				${searchKey}
            like 				'%${searchWord}%'
        </if>
        order by no desc
        limit		 		${onePageRecord}
        offset				${offsetIndex}
    </select>

    <insert id="insertboard" parameterType="boardvo">
        INSERT INTO board(no, nickname, title, region, time, max)
        VALUES(#{boardNo}, #{boardNickname}, #{boardTitle}, #{boardRegion}, now(), #{number})
    </insert>
</mapper>